.board-toolbar {
  display: flex;
  justify-content: space-between;

  background-color: var(--background-surface);
  border: 1px solid var(--border-default);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-sm);

  padding: var(--space-4);
  margin: 10px 0;
}

.board-toolbar-start,
.board-toolbar-end {
  display: flex;
  gap: var(--space-3);
}
